In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
books=[]
for i in range(1,51):
    url = f'https://books.toscrape.com/catalogue/page-{i}.html'
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response, 'html.parser')
    ol = soup.find('ol')
    articles = ol.find_all('article',class_='product_pod')
    


    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star= star['class'][1]
        price = article.find('p',class_='price_color').text
        price = float(price[1:])
        
        # Get detail page URL
        relative_link = article.find('h3').find('a')['href']
        detail_url = 'https://books.toscrape.com/catalogue/' + relative_link.replace('../../../', '')

        # Visit detail page to get category
        detail_response = requests.get(detail_url)
        detail_soup = BeautifulSoup(detail_response.content, 'html.parser')

        category = detail_soup.find('ul', class_='breadcrumb').find_all('li')[2].a.text
        availability = detail_soup.find('p', class_='instock availability').get_text(strip=True)
        books.append([title,price,star,category,availability])

In [7]:
df = pd.DataFrame(books, columns= ['Title','Price','Star','category','availability'])

In [8]:
df

,Title,Price,Star,category,availability
0,A Light in the Attic,51.77,Three,Poetry,In stock (22 available)
1,Tipping the Velvet,53.74,One,Historical Fiction,In stock (20 available)
2,Soumission,50.10,One,Fiction,In stock (20 available)
3,Sharp Objects,47.82,Four,Mystery,In stock (20 available)
4,Sapiens: A Brief History of Humankind,54.23,Five,History,In stock (20 available)
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,One,Classics,In stock (1 available)
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,Four,Sequential Art,In stock (1 available)
997,A Spy's Devotion (The Regency Spies of London #1),16.97,Five,Historical Fiction,In stock (1 available)
998,1st to Die (Women's Murder Club #1),53.98,One,Mystery,In stock (1 available)
999,"1,000 Places to See Before You Die",26.08,Five,Travel,In stock (1 available)

In [9]:
df.to_csv('books.csv')

In [6]:
df

,Title,Price,Star,category,availability
0,A Light in the Attic,51.77,Three,Poetry,In stock (22 available)
1,Tipping the Velvet,53.74,One,Historical Fiction,In stock (20 available)
2,Soumission,50.10,One,Fiction,In stock (20 available)
3,Sharp Objects,47.82,Four,Mystery,In stock (20 available)
4,Sapiens: A Brief History of Humankind,54.23,Five,History,In stock (20 available)
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,One,Classics,In stock (1 available)
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,Four,Sequential Art,In stock (1 available)
997,A Spy's Devotion (The Regency Spies of London #1),16.97,Five,Historical Fiction,In stock (1 available)
998,1st to Die (Women's Murder Club #1),53.98,One,Mystery,In stock (1 available)
999,"1,000 Places to See Before You Die",26.08,Five,Travel,In stock (1 available)